body, html {
    background-color: rgb(40, 40, 40);
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

.about {
    height: 100vh;
}

.contact {
    height: 100vh;
}

a {
    text-decoration: none;
    color: beige;
    margin-right: 10px;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
    color: beige;
}

.header {
    display: inline-flex;
    font-family: Arial;
    color: beige;
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 5vh;
    position: sticky;
    top: 0px;
    font-size: x-large;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background-color: rgb(58, 58, 58);
    color: beige;   
    text-decoration-line: black;
    width: 20%;
}


nav {
    background-color: rgb(58, 58, 58);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.projects {
    height: 100px;
    width: 20%;
    background-color: rgb(58, 58, 58);
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 0px;
    position: relative;
}

.text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    color: beige;
    background-color: rgb(77, 77, 77);
    width: 40%;
    height: 12vh;
    padding: 45px 90px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: black 1px 1px 1px;
    font-family: 'Arial', Helvetica, sans-serif;
    /* Denna styr alla rutor med projekt i */
}

.text:hover {
    text-decoration: none;
    box-shadow: beige 1px 1px 1px;
}

footer  {
    font-family: Arial;
    color: beige;
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 5vh;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

@media screen and (max-width: 800px) {
    
    .text {
        width: 90%;
        font-size: small;
    }

    main {
        width: 100%;
        height: 100%;
        font-size: smaller;
    }
    
    .header {
        font-size: 1vh;
        width: 100%;
    }


}