html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: rgb(0, 0, 0);
    box-shadow: inset lime 1px 1px 30px 10px;
    color: magenta;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}


Main {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 92%;
    width: 100%;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    box-shadow: inset rgb(0, 183, 255) 1px 1px 30px 10px;
    font-size: larger;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: inset skyblue 1px 1px 30px 10px;
    height: 50%;
    width: 20%;
}

.bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: inset rgb(0, 68, 255) 1px 1px 30px 10px;
    height: 50%;
    width: 20%;
}


.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: inset rgb(0, 68, 255) 1px 1px 30px 10px;
    text-align: center;
    height: 50%;
    width: 20%;
}

.bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: inset rgb(0, 68, 255) 1px 1px 30px 10px;
    text-align: center;
    height: 50%;
    width: 20%;
}

.footer {
    background-color: rgb(0, 0, 0);
    box-shadow: inset magenta 1px 1px 30px 10px;
    display: inline-flex;
    flex-flow: row nowrap;
    height: 10%;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
    
}

.foot1 {
    justify-content: flex-start;
    color: lime;
}

.foot2 {
    justify-content: flex-end;
    color: lime;
}

a {
    text-decoration: none;
}

