* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(36, 36, 36);
    
}

.nav-1 {
    display: inline;
    text-decoration: none;  
    margin: 2.8vw;
    margin: 1.8vh;
    word-spacing: 0.6vw;
    padding: 5px;
    float: left;
    box-sizing: border-box;
}

.nav-2 {
    display: inline;
    text-decoration: none;  
    margin: 2.8vw;
    margin: 0;
    word-spacing: 0.6vw;
    padding: 5px;
    float: right;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
} 

.user {
    border-radius: 20px;
    width: 2vw;
}

.image {
    margin-top: 20vh;
    position: relative;
    width: 20%;
}

.searchbar-area {
    position: fixed;
    box-sizing: border-box;
    width: 30%;
    height: 5%;
    margin-top: 0vh;
    left: 32%;
    border: solid rgb(112, 112, 112) 1px;
    border-radius: 50px;
}

.searchbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    width: 70%;
    height: 100%;
    border: 0px solid;
    text-align: left;
    color: white;
}

.searchbar:focus {
    outline: none;
}