body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: nunito;
}

main {
height: 156vh;
width: 35vw;
box-shadow: 5px 5px 5px gray;
display: inline-block;
margin: 10vh;
background-color: white;
}

.img {
    width: 96%;
    height: 25%;
    object-fit: cover;
    margin: 2%;
    margin-bottom: 0;
    object-position: 40% 5%;
    text-align: left;
}

h1 {
    text-align: left;
    margin-left: 5%;
    line-height: 70%;
}

h2 {
    text-align: left;
    margin-left: 5%;
    
}

article {
    text-align: left;
    margin: 5%;
}

article li {
    text-align: left;
}

footer {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
    height: 25%;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 0vh;
  }
  
    footer img {
    padding-left: 7%;
    margin-right: 7%;
    height: 90%;
  }